Add the ability to specify the charset UTF-8 in AdviceTrait

Not sure I got the issue title right! Feel free to change it!

My problem was that my french error messages assertions were failing because the UTF-8 encoding was not specified in the response content type. Here's a piece of my unit test:

```java
...
final FooDto dto = new FooDto();
dto.setCode(ALPHANUMERIC_GENERATOR.generate(11));
mockMvc
    .perform(
        put("/api/foo/{id}", 1)
            .header("accept-language", "fr")
            .contentType(MediaType.APPLICATION_JSON)
            .content(toJsonBytes(dto)))
    // Verify that the response status is BAD_REQUEST (400).
    .andExpect(status().isBadRequest())
    // Verify that the response content type is compatible with application/problem+json
    .andExpect(content().contentTypeCompatibleWith(MediaType.APPLICATION_PROBLEM_JSON))
    // Verify the content, which is supposed to be the validation errors.
    .andExpect(jsonPath("$.status").value(HttpStatus.BAD_REQUEST.value()))
    .andExpect(jsonPath("$.title").value("Constraint Violation"))
    .andExpect(jsonPath("$.violations", hasSize(1)))
    .andExpect(jsonPath("$.violations[0].field", equalTo("code")))
    .andExpect(jsonPath("$.violations[0].message", equalTo("La longueur maximal du code est de 10 caractères")));
...
```
This test was failing with the following error message:

> Expected: "La longueur maximal du code est de 30 caractères"
>      but: was "La longueur maximal du code est de 30 caractÃ¨res"

In order to get this to work, I had to override AdviceTrait#negociate in my ControllerAdvice annotated class (witch implements ProblemHandling) as followed:

```java
@Override
public Optional<MediaType> negotiate(final NativeWebRequest request) {

  final Optional<MediaType> mediaType = ProblemHandling.super.negotiate(request);
  return mediaType
      .filter(PROBLEM::equals)
      .map(type -> Optional.of(MediaType.APPLICATION_PROBLEM_JSON_UTF8))
      .orElse(mediaType);
}
```
By the way, I use Spring Boot 2.0.0.M7 and so far this is the only issue I got.  So I think that #121 won't be a hard one.

Can you prepare a PR that introduces a failing test case for this? I'm not questioning that a problem exists, but I oppose the suggested solution, since JSON is UTF-8 by default.

I didn't know how exactly I could prepare a PR to illustrate the situation (I won't call it a bug yet :smile:), but I created a sample project with really the minimal stuff necessary to reproduce the assertion failure, which is located [here](https://github.com/sbraconnier/problem-spring-web-demo). Please refer to the README, which contain a short explanation of the demo. Note that the demo use Spring Boot 1.5.9, which does not define the MediaType.APPLICATION_PROBLEM_JSON_UTF8. Thy is why you will see a minor change in the AdviceTrait#negociate override.

I'm not sure if there is a Spring Boot setting of some sort that can be set to avoid this.

By the way, I also have to support internationalization for the problem#title field (which is hard coded for a ConstraintViolationProblem), since it is allowed as describe [here](https://tools.ietf.org/html/rfc7807#section-3.1):

>      "title" (string) - A short, human-readable summary of the problem
>       type.  It SHOULD NOT change from occurrence to occurrence of the
>       problem, except for purposes of localization (e.g., using
>       proactive content negotiation; see [RFC7231], Section 3.4).

Should I open another issue for this or if it would be rejected right away :smile: ??

If it can help, I did some digging into this problem and found the source of it.

When we perform a request using MockMvc, a MockHttpServletResponse is created, with a charsetEncoding  initialized to:
`private String characterEncoding = WebUtils.DEFAULT_CHARACTER_ENCODING;`
which is
`public static final String DEFAULT_CHARACTER_ENCODING = "ISO-8859-1";`

Then, when the content of the request is get, this default encoding is used, causing the assertion failure:
```
public String getContentAsString() throws UnsupportedEncodingException {
	flushBuffer();
	return (this.characterEncoding != null ?
			this.content.toString(this.characterEncoding) : this.content.toString());
}
```

Now, here is the setContentType implementation of MockHttpServletResponse:

```
@Override
public void setContentType(String contentType) {
	this.contentType = contentType;
	if (contentType != null) {
		try {
			MediaType mediaType = MediaType.parseMediaType(contentType);
			if (mediaType.getCharset() != null) {
				this.characterEncoding = mediaType.getCharset().name();
				this.charset = true;
			}
		}
		catch (Exception ex) {
			// Try to get charset value anyway
			int charsetIndex = contentType.toLowerCase().indexOf(CHARSET_PREFIX);
			if (charsetIndex != -1) {
				this.characterEncoding = contentType.substring(charsetIndex + CHARSET_PREFIX.length());
				this.charset = true;
			}
		}
		updateContentTypeHeader();
	}
}
```
Since the charset is not provided in the content type when using `application/problem+json` only, ISO-8859-1 is always used.  This is why the failure goes away once we use `application/problem+json;charset=UTF-8` instead.

That being said, I'm not sure what would be the best way to fix this....

Well...

I just find out that we can add this:
`spring.http.encoding.force=true`
to the application configuration file and spring will add the UTF-8 charset in the content type himself, resolving the issue.

Still, you may want to allow the library to configure the charset, since Spring doesn't seem to assume that json is UTF-8 encoded.

It's up to you!

I just checked with an actual application that is using problem-spring-web in production. I modified an existing problem that we already have and changed the exception message to french. When I'm now doing a request that triggers said problem, I see the correctly encoded:

```
curl http://localhost:8080/foo     
```

```json
{
  "detail":"La longueur maximal du code est de 10 caractères",
  "status":404,
  "title":"Not Found"
}
```

Response header:

```http
HTTP/1.1 404 Not Found
Expires: 0
Cache-Control: no-cache, no-store, max-age=0, must-revalidate
X-Flow-ID: ReAok7btQFirhc5nZyGO-w
X-XSS-Protection: 1; mode=block
Pragma: no-cache
X-Frame-Options: DENY
Date: Thu, 18 Jan 2018 19:32:02 GMT
Connection: keep-alive
X-Content-Type-Options: nosniff
Strict-Transport-Security: max-age=31536000 ; includeSubDomains
Transfer-Encoding: chunked
Content-Type: application/problem+json
```

The request is not specifying any content type or charset:

```http
Accept: */*
User-Agent: curl/7.47.0
Host: localhost:8080
```

Are you sure this problem exists in the wild?

Like I said [here](https://github.com/zalando/problem-spring-web/issues/123#issuecomment-358742581), the problem seems to be related to a MockHttpServletResponse, hence it occurs only in unit tests that use a MockHttpServletResponse.

The way a JsonPathResultMatchers works is to get the result content as a String:

`String content = result.getResponse().getContentAsString();`

which is implemented (in MockHttpServletResponse) this way:
```
public String getContentAsString() throws UnsupportedEncodingException {
	flushBuffer();
	return (this.characterEncoding != null ?
			this.content.toString(this.characterEncoding) : this.content.toString());
}
```
Since the default characterEncoding for a MockHttpServletResponse is ISO-8859-1, the string is not properly encoded.

So to answer to your question, I'm sure this problem exists in Spring unit tests using a MockMvc, but probably not in most cases.

I think `spring.http.encoding.force=true` is a good enough workaround for tests. As far as I can tell, it works in production, and that's my main priority. I'm closing this for now. Feel free to challenge and re-open.

```
spring:
  http:
    encoding:
      charset: 'UTF-8'
      force: true
```
I tried this, still get ISO-8859-1 in my mockmvc test.  I'm unsure what happened.

```yaml
server:
  error:
    whitelabel:
      enabled: true
  port: 8080
  servlet:
    encoding:
      charset: utf-8
      force: true
```